# Variables de entorno para Firebase (requeridas para Vercel o hosting externo)
VITE_FIREBASE_API_KEY=AIzaSyD5cD-zHwzVhPOCBTO15_pvzRn-lpWAFYE
VITE_FIREBASE_AUTH_DOMAIN=gen-lang-client-0113824051.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=gen-lang-client-0113824051
VITE_FIREBASE_STORAGE_BUCKET=gen-lang-client-0113824051.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=692119291861
VITE_FIREBASE_APP_ID=1:692119291861:web:db2fa2bec9b2886db4df5c
VITE_FIREBASE_FIRESTORE_DATABASE_ID=ai-studio-5ab1f397-05cf-4970-931a-cfcbb1dccdb6
